<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        
        <input type="text" v-model='textDigitado'
            v-on:keyup.enter="alterarNome('Programador - Rafael R')" />
  
        <ul>
            <li v-for="item in array"
            style="background: white"
            @click="alerta($event)">
                {{ item }}
            </li>
        </ul>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                textDigitado: "",
                array: []
            },
            methods: {
                alterarNome() {
                    this.array.push(this.textDigitado);
                    this.textDigitado = '';
                    console.log(event);
                },
                alerta(event) {
                    element = event.target;
                    if(element.style.background == 'white')
                        event.target.style = "background: red";
                    else
                    event.target.style = "background: white";
                }
            }
            
        })
    </script>

</body>
</html>