<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <div v-for="imagem in imagens">
            <img :src="imagem"  width="150px">
        </div>
        
        <div v-for="(fruta, index) in Frutas">
            <p>
                {{ index }} - {{ fruta.nome }} / {{fruta.cor}}

            </p>
        </div>

        <ul>
            <li v-for="(value, key, index) in usuario">
                <!-- {{ index }} - {{ key }} : {{ value }} -->
                <b>{{ key }}</b> : {{ value }}
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                imagens: ['vuelogo.png', 'vuelogo2.png', 'vuelogo3.png'],
                usuario: {
                    nome: "Rafael",
                    telefone: "32165",
                    email: "raf@gmail.com",
                    sobrenome: "Silva"
                },
                Frutas: [
                    { nome: 'Pera', cor: 'verde'}, 
                    { nome: 'Uva', cor: 'verde'}, 
                    { nome: 'Maça', cor: 'vermelha'}
                ],
            }
        })
    </script>

</body>
</html>